html,
body {
	margin: 0rem;
	background-color: #2f4f30;
	color: #fff;
}

.titulo {
	text-align: center;
	background-color: black;
	color: white;
	padding: 2rem;
	font-size: 1.5rem;
	font-weight: bold;
	width: 100%;
}

.carta {
	position: relative;
	width: 10rem;
	left: 10rem;
	margin-left: -7.5rem;
}

#Computadora-cartas,
#jugador-cartas {
	height: 18rem;
}

.perdiste {
	/* color rojo */
	background-color: #c0392b;
	color: white;
	text-align: center;
	padding: 0.5rem;
	font-size: 1.5rem;
	margin: 1rem 5rem;
}

.ganaste {
	/* color verde */
	background-color: #27ae60;
}

.empate {
	/* color amarillo */
	background-color: #f1c40f;
}
